#Card {
    width: 18rem;
    background-color: white;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.18);
    border-radius: 0.375rem;
}

#CardImage {
    width: 100%;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

#CardContent {
    margin: 1rem;
}

#CardTitle {
    margin-bottom: 0.5rem;
}